{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Get started with Quicken today! Follow this easy, step-by-step guide to download, install, and activate Quicken. Learn troubleshooting tips and FAQs for a smooth setup." />
    <meta name="keywords" content="capitalone.com activate, Capital One card activation, Capital One login" />
    <meta name="robots" content="index, follow" />
    <title>How to Download and Install Quicken: A Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
